<template>
  <div class="hello">
    <input
      type="text"
      v-model="str"
      @input="appSearch">
  </div>
</template>

<script>
import { Debounce } from '../plugins/debounce'
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
    return {
      str: '测试',
    }
  },
  methods: {
    appSearch: Debounce(function(){
      console.log(this.str)
      this.$emit('handle')
    },300)
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
